button.operators {
  color: white;
  background-color: red;
}

div.window {
    width: 360px;
    height: 60px;
    border: 1px solid rgb(46, 45, 45);
    padding-bottom: 0px;
    padding-left: 5px;
    margin-bottom: 15px;

  }