body {
    background-color: black;
    background-image: url(https://koran-jakarta.com/images/article/peluang-menguat-terbuka-2022-02-21-220221091601.jpg);
    font-family: 'Roboto';
    color: rgb(253, 253, 251);
    text-align: center;}
    


body {
    display: block;
    margin: 8px;
    font-family: 'Roboto Slab', serif;
    color: rgb(15, 15, 15);
}


div {
    display: block;
    font-family: 'Roboto Slab', serif;
    color: rgb(15, 15, 15);
    
}

.info-container {
    border: 3px solid rgb(240, 240, 243);
    border-radius: 5px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: antiquewhite ;
    font-family: 'Roboto';
    color: rgb(15, 15, 15);
}

#button {
    margin-top: 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    color: rgb(15, 15, 15);
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}

p {
    font-size: 30px;
}

form {
    font-size: 18px;
    margin-bottom: 20px;
}

img {  position: absolute;
    top: 42vh;
    left: 30vw;
  }
    
