
**/env/*
/week4/day5/venv
/Week4/Day5/Daily/env
/Week5/Day1/env
/week5/Day2/env
/week5/Day3/env
/week5/Day4/env
/week6/Day2/env
DI-Bootcamp-Stage1/Lessons/Week7/env
/Week9/lesson.js
/Week9/index_lesson.html
/Week9/Day3/lesson.html
/Week9/Day4/lesson.html
/Week10/Day1/bookproject
/Week10/Day1/lesson
/Week11/day1/npm-node/node_modules
/Week10/Hakaton
/Week11/lesson
/Week11/newfolder
Week11/node_modules
Week11/day1/npm-node/node_modules
Week11/Day2/server_less.js
Week11/day2/express-server/node_modules
Week11/Day3/node-server/serverExpress.js/node_modules
Week11/Day3/lesson
Week11/Day3/fs-nodejs
Week11/Day3/db-nodejs/node_modules

