{% extends 'partials/base.html' %}

{% block content %}


<h1> {{header}}</h1>
<div class="row">
{% for film, directors, countries in messages %}
    <div class="col mb-4">
        <div class="card" style="width: 18rem; min-height: 300px;">
            <div class="card-body">
                <h5 class="card-title">{{film.title}} </h5>
                <p class="card-text">Director:</p>
            {% for director in directors %}
                <h6 class="card-subtitle mb-2 text-body-secondary">{{director}}</h6>
            {%endfor%}
        <p class="card-text">Categories:</p>
        {%for country in countries%}

            <h6 class="card-subtitle mb-2 text-body-secondary">{{country}}</h6>
            
        {%endfor%}
    
      
        <a href="/add_film" class="card-link">Add film</a>

            </div>
        </div>
    </div>


{% endfor %}
</div>
{% endblock %}
