* {
    margin: 0px; 
    padding: 0;
    font-family: "Times New Roman"; 
  }

h1 {
    font-size: 60px;
}


  header {
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
      background-color: rgb(7, 7, 7);
      width: 100vw;
      height: 50px;
      text-decoration: none;
      border-bottom: 1px solid rgb(24, 31, 224);
  }
  
  #logo {
      display: inline-block;
      padding-right:0px;
      padding-left:50px;
      margin: 0px;
      padding-top:2px;
  }
  
  #menu{
      float:right;
      width: 50%;
      text-align: right;
      text-decoration: none;
  }
  #img {
      overflow: hidden;
  }
  header img {width: 110px;
  }
  span {
      display: inline-block; 
      padding: 12px 50px 0 0;
      font-family: "Roboto Slab";
      font-weight: bold;
  }

span a {
    text-decoration: none;
    color:rgb(230, 224, 224);
}

h1 {
    padding-top: 30px;
    font-size: 50px;
    color: black;
    text-align: center;
}
#text {
    font-size: 14px;
    padding: 15px 15px 15px 15px;
    color: black;
}
#products {
    height: 500px;
    background-image: url("background.jpg");
    background-size: cover;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(248, 244, 244);
    text-align: center;
    border-top: 1px solid rgb(24, 31, 224);
  }
  .footer span {
    color:rgb(24, 31, 224);
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 35px;
    }
    header {
        background-color: yellow;
    }
    span a {
        color: black;
    }
    h1 {
        position: relative;
        top:200px;
    }
  }
  @media screen and (min-width: 601px) 
  and (max-width: 768px) {
    h1 {
      font-size: 25px;
    }
    header {
        background-color: rgb(13, 214, 30);
    }
    span a {
        color: black;
    }
  }
  @media screen and (min-width: 769px) 
  and (max-width: 992px) {

    header {
        background-color: rgb(250, 34, 6);
    }
    span a {
        color: white;
    }
  }