<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{header}}</title>
    {% load static %}
    <link href="{% static './css/' %}example.css" rel="stylesheet">
</head>
<body>
    <h2>{{ header }}:</h2>
    <!-- <h4>Name: {{message.name}}</h4> -->
    <h4>Legs: {{message.legs}}</h4>
    <h4>Weight: {{message.weight}}</h4>
    <h4>Height: {{message.height}}</h4>
    <h4>Speed: {{message.speed}}</h4>
    <img src="{{message.url}}" alt=" " style="width:250px">
    <h4> Family id: <a href=/family/{{message.family_id}}>{{message.family_id}}</a></h4>
</body>
</html>
